<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.surajmyt.retrorestfulwebserv"
    >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/retrorestfulwebserv"
        android:label="@string/app_name"
        android:roundIcon="@drawable/retrorestfulwebserv"
        android:supportsRtl="true"
        android:theme="@style/Theme.RetroRestfulWebServ"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".activities.StudentListActivity"
            android:label="Student List"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.StudentDetailActivity"
            android:label="Student Detail"
            android:parentActivityName=".activities.StudentListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StudentListActivity" />
        </activity>

        <activity
            android:name=".activities.StudentCreateActivity"
            android:label="New Student"
            android:parentActivityName=".activities.StudentListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StudentListActivity" />
        </activity>

        <activity
            android:name=".activities.IntroActivity"
            android:label="RetroRestfulWebServ"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>